:root {
    --white: #ffffff;
    --black: #000000;
    --font: "Montserrat", sans-serif;
    --title-font: 900;
    --bold-font: 600;
    --light: 400;
    --background: #000000;
    --letters: #E7E7E7;
    --primary: #5D5D5D;
    --secondary: #454545;
    --third: #E7E7E7;
    --hover: #FFC107;

    --neutral: #F5F5F5;
    --alternative: #0A1F44;
}

/* posibles paleta de colores

*/
/*
Primario (Rojo fuerte - Acción principal) → #EA2424

Secundario (Gris oscuro - Texto y fondo suave) → #333333

Neutro (Blanco - Espacios y contraste) → #FFFFFF

Acento (Amarillo cálido - Resaltar detalles) → #FFC107

Fondo (Gris claro - Suaviza el diseño) → #F1F1F1
 */


/* Globales */
html {
    font-size: 62.5%;  /* Un rem es igual a 10px */
    background-color: var(--background);
    color: var(--letters);
}

body {
    font-family: var(--font);
    font-optical-sizing: auto;
    font-weight: var(--light);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.8;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

h1,
h2,
h3,
h4 {
    font-weight: var(--title-font);
    text-align: center;
}

p {
    font-weight: var(--bold-font);
}

a {
    text-decoration: none;
    color: var(--letters);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img, picture {
    width: 100%;
    height: auto;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1.5rem 2rem;
    background-color: var(--black);
}

header div:nth-child(2) {
    display: none;
}

header div:nth-child(3) {
    display: block;
}

.header-mobile {
    display: flex;
}

.header-and-footer-container {
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1000;
}

/* FOOTER */
footer {
    text-align: center;
    height: 20rem;
    padding: 2rem 0;
    font-size: 1.4rem;
}

footer div:nth-child(1) {
    background-color: var(--secondary);
    padding: 3rem;
}

footer div ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


/* Small phones */
@media (max-width: 480px) {

    /* NAVBAR */
    nav {
        background-color: var(--black);
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

    nav.show {
        display: block;
        max-height: 30rem;
        opacity: 1;
    }

    ul li a:active {
        color: var(--hover);
    }
}

/* Tablets */
/* @media (min-width: 481px) and (max-width: 768px) {
     ... 
} */

/* Desktops */
@media (min-width: 769px) {
    header a {
        color: var(--black);
    }

    header div:nth-child(2) {
        display: block;
    }

    header div:nth-child(3) {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        height: 1rem;
        background-color: var(--black);
    }

    nav ul {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        font-size: 1.4rem;
        padding: 0.3rem 1rem;
    }

    nav ul li a {
        color: var(--negro);
        font-weight: var(--bold-font);
        transition: color 0.3s;
    }

    ul li a:hover {
        color: var(--hover);
    }

    /*  nav ul li a:hover {
        color: var(--hover);
    }

    footer div ul li a:hover{
        color: var(--hover);
     } */

}


.container {
    margin: 0 auto;
    width: 85%;
    max-width: 120rem;
    background-color: var(--primary);
}