:root{
    --blanco:#ffffff;
    --negro: #000;
    --font:"Montserrat", sans-serif;
    --title-font: 900;
    --bold-font:600;
    --light: 400;
    --background: #f1f1f1;
}

/* posibles paleta de colores
:root {
    --primary: #D81F26; // Rojo vibrante 
    --secondary: #1C1C1C;  // Gris oscuro 
    --accent: #FFC107; // Amarillo dorado 
    --neutral: #F5F5F5; // Blanco suave 
    --alternative: #0A1F44; // Azul profundo 
}
*/
/*
Primario (Rojo fuerte - Acción principal) → #EA2424

Secundario (Gris oscuro - Texto y fondo suave) → #333333

Neutro (Blanco - Espacios y contraste) → #FFFFFF

Acento (Amarillo cálido - Resaltar detalles) → #FFC107

Fondo (Gris claro - Suaviza el diseño) → #F1F1F1
 */

html{
    font-size: 62.5%;
    background-color: var(--background);
}

/* Un rem es igual a 10px */

body{
    font-family: var(--font);
    font-optical-sizing: auto;
    font-weight:var(--light);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.8;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1,h2,h3,h4{
    font-weight: var(--title-font);
    text-align: center;
}
p{
    font-weight: 600;
}

.container{
    margin: 0 auto;
    width: 85%;
    max-width: 120rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: auto;
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    padding: 1.5rem 0;
    background-color: var(--blanco);
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    padding: 0.5rem; /* Reducimos el padding */
    height: 5rem; /* Altura más pequeña */
}

nav ul {
    display: flex;
    gap: 1rem; /* Espacio más pequeño entre elementos */
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    font-size: 1.4rem; /* Texto más pequeño */
    padding: 0.3rem 0.8rem;
}

nav ul li a {
    color: var(--negro);
    font-weight: var(--bold-font);
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--primary);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    padding: 2rem;
    background-color: var(--blanco);
    font-size: 1.4rem;
}

